.wrapper {
  background: var(--c-gray);
  border-radius: var(--s-xl);
  display: flex;
  justify-content: space-around;
  margin: var(--s-xl) 0;
  padding: var(--s-xxxl);
}

.article {
  flex-basis: 50%;
}

.article p:first-of-type {
  margin-top: var(--s-xxxl);
}

.article p:last-of-type {
  margin-bottom: var(--s-xxxl);
}
