.container {
  --mw-container: var(--w-grid);

  margin: 0 auto;
  max-width: var(--mw-container);
  padding: 0 var(--p-gutter);
  width: 100%;
}

.container--inner {
  --mw-container: var(--w-grid-inner);
}

.container--narrow {
  --mw-container: var(--w-grid-narrow);
}
