.container {
  --mw-container: var(--w-grid);
  margin: 0 auto;
  max-width: var(--mw-container);
  width: 100%;
}

.container--inner {
  --mw-container: var(--w-grid-inner);
}

.container--narrow {
  --mw-container: var(--w-grid-narrow);
}
