:root {
  --c-primary-light: #cc2727;
  --c-primary-dark: #9f1d1d;
  --c-secondary-light: #2a1d1f;
  --c-secondary-dark: #141011;
  --c-white: #ffffff;
  --c-gray: #d4d4d4;
  --c-black: #000000;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-global: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --fs-global: 16px;
  --fs-heading: 32px;
  --fw-heading: var(--fw-semibold);

  --s-xs: 4px;
  --s-sm: 8px;
  --s-md: 16px;
  --s-lg: 24px;
  --s-xl: 32px;
  --s-xxl: 40px;
  --s-xxxl: 48px;

  --br-base: 8px;

  --w-grid: 920px;
}
