:root {
  --c-primary-light: #cc2727;
  --c-primary-dark: #9f1d1d;
  --c-secondary-light: #2a1d1f;
  --c-secondary-dark: #141011;
  --c-gray-light: #f3f3f3;
  --c-gray-medium: #e4e4e4;
  --c-gray-dark: #737373;
  --c-white: #ffffff;
  --c-black: #000000;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-global: 'Jost', sans-serif;
  --fs-global: 22px;
  --lh-global: 32px;
  --fs-heading: 32px;
  --fw-heading: var(--fw-semibold);

  --s-xxs: 2px;
  --s-xs: 4px;
  --s-sm: 8px;
  --s-md: 16px;
  --s-lg: 24px;
  --s-xl: 32px;
  --s-xxl: 40px;
  --s-xxxl: 48px;

  --br-rounded: 9999px;
  --br-xl: var(--s-xl);
  --br-base: var(--br-rounded);

  --w-grid: 1608px;
  --w-grid-inner: 1286px;
  --w-grid-narrow: 860px;

  --p-gutter: var(--s-md);

  --bp--md: 768px;
}

@media (max-width: 767px) {
  :root {
    --fs-global: 20px;
    --lh-global: 28px;
  }
}
