.header {
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: underline;
}

.header article h1 {
  font-size: 32px;
}

.image {
  display: none;
}

.table_wrapper {
  border-radius: var(--br-xl);

  overflow-x: auto;
  border: 2px solid var(--c-gray-light);
  margin-bottom: var(--s-xxxl);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  background: var(--c-gray-light);
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background: var(--c-gray-light);
}

.table tbody tr:hover {
  background: var(--c-gray-medium);
}

.table td,
.table th {
  padding: var(--s-md) var(--s-xl);
  white-space: nowrap;
}

.table_link {
  color: var(--c-gray-dark);
  font-size: 20px;
}

.contribution {
  margin: var(--s-xxxl) 0;
  padding: var(--s-xxxl) 0;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .header article {
    flex-basis: 50%;
    padding-top: var(--s-xxl);
  }

  .header article h1 {
    font-size: 60px;
  }

  .image {
    display: flex;
    margin-left: auto;
  }
}
