.header {
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: underline;
}

.header article h1 {
  font-size: 32px;
}

.image {
  display: none;
}

.contribution {
  margin: var(--s-xxxl) 0;
  padding: var(--s-xxxl) 0;
  text-align: center;
}

.table_link {
  color: var(--c-gray-dark);
  font-size: 20px;
}

@media (min-width: 48rem) {
  .header {
    flex-direction: row;
  }

  .header article {
    flex-basis: 50%;
    padding-top: var(--s-xxl);
  }

  .header article h1 {
    font-size: 60px;
  }

  .image {
    display: block;
    margin-left: auto;
  }
}
