.wrapper {
  background: var(--c-gray-light);
  border-radius: var(--s-xl);
  display: flex;
  gap: var(--p-gutter);
  justify-content: space-around;
  margin: var(--s-xl) 0;
  padding: var(--s-lg);
}

.article {
  flex-basis: 100%;
}

.article p:last-of-type {
  margin-bottom: var(--s-xxxl);
}

.image {
  display: none;
}

@media (min-width: 48rem) {
  .wrapper {
    padding: var(--s-xxxl);
  }

  .article {
    flex-basis: 50%;
  }

  .image {
    display: block;
  }

  .article p:first-of-type {
    margin-top: var(--s-xxxl);
  }
}
