.wrapper {
  min-height: 84vh;
  padding: var(--s-xxl) 0;
  text-align: center;
}

.content {
  border-bottom: 4px solid var(--c-secondary-dark);
  display: flex;
  justify-content: center;
  margin: var(--s-xxxl) 0;
}

.title {
  font-size: 60px;
}

.subtitle {
  color: var(--c-gray-dark);
  display: block;
  font-size: var(--fs-heading);
  font-weight: var(--fw-regular);
  margin-bottom: var(--s-xxxl);
}
