.button {
  --bg-button: var(--c-secondary-light);
  --br-button: var(--br-base);
  --c-button: var(--c-white);
  --fs-button: var(--fs-global);
  --fw-button: var(--fw-semibold);
  --p-button: var(--s-md);

  background: var(--bg-button);
  border-radius: var(--br-button);
  border: 0;
  color: var(--c-button);
  cursor: pointer;
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  padding: var(--p-button);
  text-decoration: none;
}

.button:hover {
  --bg-button: var(--c-secondary-dark);
}

.button--secondary {
  --bg-button: var(--c-primary-light);
}
.button--secondary:hover {
  --bg-button: var(--c-primary-dark);
}
