.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--w-grid);
  min-height: 100vh;
  padding: var(--s-lg);
  text-align: center;
}

.logo {
  fill: var(--c-white);
}

.title {
  margin: var(--s-lg) auto var(--s-xl);
}

.description {
  margin-bottom: var(--s-xl);
}

.email {
  margin: var(--s-xxl) auto;
}

.email a {
  font-weight: var(--fw-semibold);
}
