.🥧 {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--s-lg);
  max-width: var(--w-grid);
}

.🍊 {
  fill: var(--c-white);
}

.⛪️ {
  margin: var(--s-lg) auto var(--s-xl);
}

.🍋 {
  margin-bottom: var(--s-xl);
}

.💌 {
  font-weight: 600;
}

.🐴 {
  margin-top: var(--s-xl);
}
