.footer {
  --bg-footer: var(--c-gray-light);

  background: var(--bg-footer);
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--w-grid);
  padding: var(--s-xl) var(--p-gutter);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.logo {
  display: flex;
  margin-bottom: var(--s-md);
}

.logo svg {
  width: 180px;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: var(--s-md) 0 0;
}

.item {
  display: inline-flex;
}

.item:not(:last-of-type) {
  --p-item: var(--s-sm);
  padding-right: var(--p-item);
}

.item:not(:last-of-type)::after {
  content: '-';
  padding-left: var(--p-item);
}

@media (min-width: 768px) {
  .nav {
    align-items: flex-end;
  }

  .logo svg {
    width: 240px;
  }
}
